Package: libnetpbm9-dev
Source: netpbm-free
Version: 2:10.0-15.3
Architecture: amd64
Maintainer: Andreas Barth <aba@not.so.argh.org>
Installed-Size: 389
Depends: libnetpbm9 (= 2:10.0-15.3)
Conflicts: netpbm-dev
Replaces: netpbm-dev
Provides: netpbm-dev
Section: libdevel
Priority: optional
Homepage: http://netpbm.alioth.debian.org
Description: Development libraries and header files (v9)
 This development package contains the library and header
 files for the pbm, pgm, pnm, and ppm graphics formats, if the split
 and now deprecated libraries are used.
 .
 This package is provided for backward compatibility.
